* {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.50%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body,
input,
button,
textarea,
select,
a {
  font-size: 1rem;
  font-weight: 400;
}

body {
  background: linear-gradient(90deg, #ECECEC 0%, #FFFFFF 14.58%);
}

button {
  border: none;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}